*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    
    /*font-family: "Cuprum", Arial, sans-serif;*/
    font-family: "PT Sans", Aril, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.red-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #ee3643;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.main-header {
    padding-bottom: 60px;
    
    font-family: "Cuprum", Arial, sans-serif;
    
    background-color: #f3f7f9;
}

/*    ----    pre-header     ----    */


.pre-header {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #293449;
}

.pre-header .container {
    display: flex;    
}

.header-logo {    
    position: relative;
    width: 220px;
    margin-bottom: auto;
    padding: 13px 55px 7px 55px;
}

.logo {    
/*    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);*/
    background-color: #ee3643;
}


.header-logo::before {
    content: "";
    
    position: absolute;
    bottom: -5px;
    left: 0px;
    
    width: 220px;
    height: 5px;  
    
    background-color: #b52933;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.header-logo:focus {
    background-color: #ba2732;
}

.pre-header form {
    position: relative; 
}

.search-form {    
    width: 270px;
    padding-top: 12px;    
    padding-left: 49px;
    padding-bottom: 12px;  
    
    font-size: 17px;
    line-height: 18px;
    
    background-color: transparent;
    border: none;
}

.search-form::-webkit-input-placeholder {
    color: #ffffff;
}

.search-form:hover,
.bookmarks-link:hover,
.basket-link:hover {   
    background-color: #212a3a;
}

.search-form:focus {
    background-color: #ffffff;
}

.search-form:focus::-webkit-input-placeholder {
    color: #000000;
}

.search-icon {
    position: absolute;
    
    width: 17px;
    height: 17px;
    
    top: 0;
    bottom: 0;
    left: 17px;
    
    margin-top: auto;
    margin-bottom: auto;    
    
    opacity: 0.3;
}

.search-form:hover + .search-icon,
.search-form:focus + .search-icon {
    opacity: 1;
}

.search-form:focus + .search-icon path {
    fill: #ee3643;
}

.order-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.order-navigation a {
    width: 150px;
    
    color: #ffffff;
}

.bookmarks-link {
    position: relative;
    padding-top: 12px;    
    padding-bottom: 12px; 
    padding-left: 44px;
}

.bookmarks-link::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 17px;
    
    width: 14px;
    height: 16px;  
    
    background-image: url("../img/svg/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
    
    opacity: 0.3;
}

.bookmarks-link:hover::before {  
    opacity: 1;
}

.bookmarks-link:focus::before {  
    opacity: 0.5;
}

.basket-link,
.page-basket {
    position: relative;
    padding-top: 12px;    
    padding-bottom: 12px; 
    padding-left: 50px;
}

.basket-link::before,
.page-basket::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 18px;
    
    width: 15px;
    height: 15px;  
    
    background-image: url("../img/svg/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
    
    opacity: 0.3;
}

.basket-link:hover::before {  
    opacity: 1;
}

.basket-link:focus::before {  
    opacity: 0.5;
}

.bookmarks-link:focus,
.basket-link:focus {
    color: rgba(255, 255, 255, 0.6);    
    background-color: #161d29;
}

.order-link {
    padding-top: 12px;    
    padding-bottom: 12px; 
    padding-left: 20px;
    
    background-color: #63a63e;
}

.order-link:hover {
    background-color: #5fbb2d;
}

.order-link:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

/*  ----  catalog  ----  */

.page-basket {
    background-color: #ee3643;
}

/*    ----    header-primary     ----    */
.header-primary {    
    padding-top: 47px;    
}

.header-primary-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 38px;
}

.header-primary h1,
.page-headlines {
    width: 197px;
    margin: 0;
    margin-right: 71px;
    margin-left: 52px;
    padding-top: 2px;
    
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    text-align: left;
    font-weight: 400;    
}

.header-contacts {
    margin-right: auto;
    width: 270px;    
}

.header-telephone {
    position: relative;
    margin: 0;
    padding-top: 10px;
    padding-right: 49px;
    padding-left: 71px;
    padding-bottom: 8px;
    
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    
    width: 270px;
    border: 3px solid #ffffff;
}

.header-telephone::before {
    content: "";
    
    position: absolute;
    top: 10px;
    left: 12px;
    
    width: 19px;
    height: 19px;  
    
    background-image: url("../img/svg/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.header-address {
    margin: 0;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 8px;
    
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.main-user-navigation,
.page-user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 281px;
    list-style: none;
    margin-left: auto;
    margin: 0;
    padding: 0;
}

.login-link,
.register-link {
    display: block;
    vertical-align: middle;
    padding-top: 12px;
    padding-bottom: 12px;
    
    font-size: 21px;
    line-height: 21px;
    color: #000000;        
    
    background-color: #ffffff;  
}

.login-link {    
    margin-right: 10px;
    padding-left: 48px;
    padding-right: 24px;    
}

.login-link::before {
    content: "";
    
    position: absolute;
    top: 13px;
    left: 14px;
    
    width: 20px;
    height: 17px;  
    
    background-image: url("../img/svg/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
    
    opacity: 0.3;
}

.login-link:hover::before {
    opacity: 1;
}

.login-link:focus::before {
    opacity: 0.3;
}

.register-link {
    padding-left: 24px;
    padding-right: 24px; 
}

.login-link:hover,
.register-link:hover {
    color: #ee3643;
}

.login-link:focus,
.register-link:focus {
    color: rgba(0, 0, 0, 0.3);
}

/*  ----  catalog  ----  */

.user-name {
    display: block;
    position: relative;
    width: 299px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 47px;
    
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    
    background-color: #ffffff;
}

.user-name::before {
    content: "";
    
    position: absolute;
    top: 13px;
    left: 13px;
    
    width: 20px;
    height: 18px;  
    
    background-image: url("../img/svg/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;  
    
    opacity: 0.3;
}

.user-name:hover::before {
    opacity: 1;
}

.user-name:focus::before {
    opacity: 0.3;
}

.user-name::after {
    content: "";
    
    position: absolute;
    top: 14px;
    right: 10px;
    
    width: 20px;
    height: 17px;  
    
    background-image: url("../img/svg/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
    
    opacity: 0.3;
}

.user-name:hover::after {
    opacity: 1;
}

.user-name:focus::after {
    opacity: 0.3;
}

.user-name:focus {
    color: rgba(0, 0, 0, 0.3);
}

.page-user-navigation {
    display: inline-flex;
    position: relative;
    padding-left: 18px;
}

.page-user-navigation::after {
    content: "";
    
    position: absolute;
    top: 14px;
    left: 107px;
    
    width: 4px;
    height: 4px;
    
    background-color: #32425c;
    border-radius: 50%;
}

.user-orders {
    margin-right: 32px;
}

.user-profile {    
    margin-right: auto;
}

.user-orders a,
.user-profile a {
    display: block;
    padding-top: 6px;
    
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.user-orders a:hover,
.user-profile a:hover {
    color: #ee3643;
}

.user-orders a:focus,
.user-profile a:focus {
    color: rgba(50, 66, 92, 0.3);
}


/*    ----    main-navigation     ----    */

.main-navigation {
    font-size: 17px;
    line-height: 17px;
    
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0; 
    list-style: none;
}

.site-navigation a {
    display: block;
    padding-top: 19px;
    padding-bottom: 24px;
    padding-right: 31px;
    padding-left: 30px;
    vertical-align: middle;
    
    color: #ffffff;
}

.site-navigation li:nth-child(1) {
    
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

/*  ----  catalog  ----  */

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    padding: 0;
    
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    
    list-style: none; 
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs li {
    position: relative;    
    margin-left: 39px;
    padding: 20px 0 21px 0;
}

.breadcrumbs li:first-child {
    margin-left: 55px;
}

.breadcrumbs li:last-child {
    margin-left: 43px;
}

.breadcrumbs li::before {
    content: "";
    
    position: absolute;
    top: 23px;
    left: -22px;
    
    width: 8px;
    height: 12px;
    
    background-image: url("../img/svg/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs li:first-child::before {
    content: "";
    
    position: absolute;
    top: 23px;
    left: -27px;
    
    width: 8px;
    height: 12px;
    
    background-image: url("../img/svg/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs li:last-child::before {
    content: "";
    
    position: absolute;
    top: 23px;
    left: -24px;
    
    width: 8px;
    height: 12px;
    
    background-image: url("../img/svg/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs::after {
    content: "";
    
    position: absolute;
    top: 23px;
    left: -2px;
    
    width: 15px;
    height: 12px;
    
    background-image: url("../img/svg/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 0; 
}

.main-page-top {
    margin-bottom: 20px;
    padding: 30px 0px 29px 29px;
    
    background-color: #f2f6f8;
}

.page-title {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: 400;
    text-transform: uppercase;
}

/*    ----    section "Спецпредложения"     ----    */
.main-benefits {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 59px;
    padding-bottom: 33px;
    
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff; 
}

.main-benefits h2 {
    color: #32425c;
}

.main-benefits h3 {
    margin: 0;
    margin-bottom: 11px;
    
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;    
}

.benefits {
    width: 300px;
    
    margin-bottom: 20px;
    
    padding-top: 22px;    
    padding-bottom: 22px;
}

.main-benefits-slider {
    width: 620px;
    margin-bottom: auto;
}

.main-benefits-stuff {
    position: relative;
    padding-left: 25px;
    padding-right: 140px;
    
    background-color: #ffbf47;
}

.main-benefits-stuff::after {
    content: "";
    
    position: absolute;
    top: 31px;
    right: 43px;
    
    width: 44px;
    height: 65px;  
    
    background-image: url("../img/svg/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.main-benefits-stuff .flag {
    position: absolute;
    
    top: 0;
    right: 0;
    
    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.main-benefits-stuff .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.main-benefits-tool {
    position: relative;
    padding-left: 25px;    
    
    background-color: #3bbce3;
}

.main-benefits-tool::after {
    content: "";
    
    position: absolute;
    top: 33px;
    right: 28px;
    
    width: 75px;
    height: 61px;  
    
    background-image: url("../img/svg/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.main-benefits-technics {
    position: relative;
    padding-left: 23px;
    
    background-color: #dc91d8;
}

.main-benefits-technics::after {
    content: "";
    
    position: absolute;
    top: 31px;
    right: 31px;
    
    width: 78px;
    height: 62px;  
    
    background-image: url("../img/svg/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.main-benefits-discount {
    position: relative;
    padding-left: 23px;
    
    background-color: #8ed78f;
}

.main-benefits-discount::after {
    content: "";
    
    position: absolute;
    top: 26px;
    right: 45px;
    
    width: 59px;
    height: 72px;  
    
    background-image: url("../img/svg/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.main-benefits-delivery {
    position: relative;
    padding-left: 23px;
    
    background-color: #ffc047;
}

.main-benefits-delivery::after {
    content: "";
    
    position: absolute;
    top: 32px;
    right: 31px;
    
    width: 78px;
    height: 63px;  
    
    background-image: url("../img/svg/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.button-benefits {
    display: block;
    vertical-align: middle;
    text-align: center;
    width: 135px;  
    padding-top: 11px; 
    padding-bottom: 9px;    
    
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;  
    
    background-color: rgba(0,0,0, 0.1);
    border-radius: 3px;
}

.button-benefits:hover {
    background-color: rgba(0,0,0, 0.2);
}

.button-benefits:focus {
    background-color: rgba(0,0,0, 0.3);
}


/*    ----    slider     ----    */


.main-benefits-slider {
    padding-top: 24px;
    padding-left: 24px;
    
    background-color: #847365;
}

.main-benefits-slider h3 {
    margin: 0;    
    
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-benefits-slider b {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.slider-button {
    display: block;
    width: 195px;
    margin: 121px 0 22px 1px;
    padding: 11px 44px 9px 50px;
    
    border-radius: 3px;
}

.slider-button:hover {
    background-color: #ca2c37;
}

.slider-button:focus {
    background-color: #ba2732;
}

/*  ----  catalog  ----  */

.main-page-wrapper {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 220px;
}

.filters-top {
    margin-bottom: 11px;
    padding: 10px 0 10px 19px; 
    
    background-color: #f7f3ec;
    
/*    background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/

}

.filters-top h2 {
    margin: 0;
    
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    
    border: none; 
    border-bottom: 1px solid #e5e5e5;
    
/*    background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.filters .filter-price {
    padding-bottom: 25px;
    margin-bottom: 16px;
}
.filters .filter-brand {
    padding-bottom: 2px;
    margin-bottom: 17px;
}

.filters  .filter-power {
    margin-bottom: 57px;
}

.filter fieldset:last-of-type {
    border-bottom: none;
}

.filter legend {
    margin-bottom: 14px;
    
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-power legend {
    letter-spacing: 0.5px;
}

.filter-price-area {
    margin-bottom: 9px;
    height: 80px;
    
    background-color: #f7f3ec;
}

.filter-price-area input {
    width: 220px;
}

.filter-min-price,
.filter-max-price {
    display: inline-block;
    width: 95px;
    vertical-align: middle;
    text-align: center;    
    margin: 0;
    padding: 10px 0;  
    
    font-size: 17px;
    line-height: 18px;
    
    background-color: #f7f3ec;
}

.filter-max-price {
    margin-left: 26px;    
}

.filter ul {
    padding: 0;
    margin: 0;
    
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    
    list-style: none;
}

.filter-option {
    margin-bottom: 20px;
    padding-left: 35px;
    
/*  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;*/
}

.filter-option label {
    position: relative;
    
    display: block;
    
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    
    position: absolute;
    left: -34px;
    top: -2px;

    width: 23px;
    height: 23px;

    background-image: url("../img/svg/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    
    position: absolute;
    left: -34px;
    top: -2px;
    
    width: 27px;    
    height: 23px;
    
    background-image: url("../img/svg/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {    
    content: "";
    
    position: absolute;
    left: -36px;
    top: -3px;
    
    width: 25px;
    height: 25px;
    
    background-image: url("../img/svg/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio:checked + label::after {
    content: "";
    
    position: absolute;
    left: -36px;
    top: -3px;
    
    width: 25px;
    height: 25px;
    
    background-image: url("../img/svg/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-button {
    width: 140px;
    padding: 10px 0;
    text-align: center;
    
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.main-page-right {
    width: 700px;
}

.sorting-options {
    display: flex;
    margin-bottom: 21px;
    padding: 10px 0;    
    
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    
    background-color: #f7f3ec;
}

.sorting-options h2 {
     margin: 0;
    
    width: 240px;
    padding: 0 19px;
    
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}

.sorting-options-left {    
    margin: 0;
    padding: 0;
    margin-right: auto;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 357px;
    
    list-style: none;
}

.sorting-options-right {
    margin: 0;
    padding: 0;
    width: 60px;
    position: relative;
    
    list-style: none;
}

.sorting-options-right li {
    display: inline-block;
}

.sorting-options-right li:first-child {
    margin-right: 20px;
}

.sorting-options a {
    color: rgba(0, 0, 0, 0.18);
    text-decoration: underline dotted #ee3643;
}

.sorting-options a:hover {
    color: #000000;
    text-decoration: underline #ee3643 ;
}

.sorting-options a:focus {
    color: #ee3643;
    text-decoration: none;
}

/*    ----    section "Популярные товары"     ----    */

.popular-item {
    padding-bottom: 1px;    
}

.popular-item h2 {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.popular-item-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-left: 29px;
    padding-bottom: 26px;
    
    background-color: #f9f5f0;
}

.popular-item-top a {
    display: block;
    width: 253px;
/*    margin-top: 25px;*/
    margin-right: 24px;
/*    margin-bottom: 26px;*/
    margin-left: auto;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    
    border-radius: 3px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    
    list-style: none;
    
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
}

.catalog-item-image {
    width: 218px;
    height: 170px;
    margin-bottom: 9px;  
}

.catalog-item-title {
    margin: 0;
    padding: 0 25px;    
    margin-bottom: 12px;
    
    font-size: 18px;
    line-height: 20px;    
    color: #000000;
}

.item-old-price {
    margin: 0;
    min-height: 20px;
    margin-bottom: 7px;
    
    color: #a9a9a9;
    text-decoration: line-through;
}

.item-new-price { 
    position: relative;
    width: 141px;
    margin: 0 36px 0 43px;
    padding: 10px 30px;
    
    color: #ffffff;
    background: #ee3643;
    border-radius: 3px;      
}

.item-new-price::after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -18px;
    
    width: 0;
    height: 0;
    
    border: 19px solid white;
    border-left-color: #ee3643;
}

.catalog-item {
    position: relative;
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    
    border: 1px solid #e5e5e5;
}

.page-catalog .catalog-item:nth-child(3n) {
    margin-right: 0;
}
.main-catalog .catalog-item:nth-child(4n) {
    margin-right: 0;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 164px;
  padding: 40px 0;
  
  background-color: #ffffff;
  z-index: 10;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:hover {
    border: none;
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.buy-button {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #63a63e;
    border: none;
    box-shadow: inset 0px -3px 0 0 #367315;
    border-radius:3px;
}

.buy-button:hover {
    background-color: #5fbb2d;
}

.buy-button:focus {
    background-color: #518534;
    box-shadow: none;
}

.marker-button {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #32425c;
    
    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius:3px;
}

.marker-button:hover {
    border: 3px solid #32425c;
}

.marker-button:focus {
    color: rgba(50, 66, 92, 0.3);
    border: 3px solid rgba(50, 66, 92, 0.3);
}


/*    ----    section "Популярные производители"     ----    */


.popular-brand {
    padding-bottom: 65px;    
}

.popular-brand h2 {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.popular-brand-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-left: 29px;
    padding-bottom: 26px;
    
    background-color: #f9f5f0;
}

.popular-brand-top h2 {  
    margin: 0;
}

.popular-brand-top a {
    display: block;
    width: 253px;
    margin-right: 24px;
    margin-left: auto;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 4px;
}

.brand-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.brand-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
    
    border: 1px solid #e5e5e5;
    text-align: center;
}

.brand-list a:hover {
    border: none;
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-list a:focus {
    border: none;
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    
    opacity: 0.3;
}


/*    ----    section main-services     ----    */


.main-services {      
    padding-top: 63px;
    padding-bottom: 99px;
    
    background-color: #f4f7f9;    
}

.main-services .container {
    position: relative;
}

.main-services .container::after {
    content: "";
    
    position: absolute;
    bottom: -99px;
    right: 0;
    
    width: 468px;
    height: 261px;
    
    background-image: url("../img/service-delivery.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
}

.main-services-top {
    width: 400px;
}

.main-services-top h2 {
    margin: 0;
    margin-bottom: 26px;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-services p {
    margin: 0;    
}

.main-services-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-services h3 {
    margin: 0;
    margin-top: 67px;
    margin-bottom: 25px;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.services-navigation {
    position: relative;
    width: 240px;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    margin-right: 82px;
    
    font-family: "Cuprum", Arial, sans-serif;    
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;        
    
    list-style: none;    
}

.services-navigation::after {
    content: "";
    
    position: absolute;
    top: -40px;
    right: -1px;
    
    width: 10px;
    height: 279px;
    
    background-image: url("../img/service-shadow.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
}

.main-services-right {
    width: 275px;
    margin-right: auto;
}

.main-services-right p:nth-child(2n+1) {
    width: 175px;
}

.services-navigation a {  
    padding: 13px 0 19px 23px;    
    
    color: #ffffff;   
    
    background-color: #32425c;    
    box-shadow: 0px -1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    
    display: inline-block;
    width: 240px;
}

.services-navigation a:hover {    
    background-color: #293449;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.services-navigation a:focus {
    color: #32425c;
    
    background-color: #ffffff;
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}


/*    ----    section extra-benefits     ----    */

.main-down-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 85px;
}

.main-down-wrapper p {
    margin: 0;
    margin-top: 24px;
}

.extra-benefits {
    width: 519px;
}

.extra-benefits h2 {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.extra-benefits .red-button {
    display: block;
    width: 220px;
    margin-top: 35px;
    text-align: center;
    padding: 10px 0;
    
    border-radius: 3px;
}

.extra-benefits p:nth-child(2n+1){
    width: 390px;
}

.delivery-option {
    margin: 0;
    margin-top: 22px;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    
    list-style: none;
} 

.delivery-option li {
    margin-bottom: 21px;
}

.delivery-option li:before {
    background-color: #ee3643;
    content: ""; 
    display: block;
    width: 25px;
   }


/*    ----    main-contacts     ----    */

.main-contacts {
    width: 300px;
    margin-left: auto;
}

.main-contacts h2 {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-contacts p {
    width: 180px;
    margin-bottom: 31px;
}

.map-address {
    margin: 0;
    margin-bottom: 40px;
}

.map-address a {
    display: block;
    width: 300px;
    height: 158px;
}

.contact-button {
    width: 300px;
    padding: 10px 50px 10px 58px;
    
    border: none;
    border-radius: 3px;
}

/*  ----  catalog  ----  */

.paginator {
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 32px;
    margin-bottom: 60px;    
}

.paginator a {
    display: block;
    width: 38px;
    margin-right: 10px;
    padding: 9px 0 9px 0;
    text-align: center;    
    
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.paginator a:first-child {
    color: #ffffff;
    background-color: #ee3643;
}

.paginator a:last-child {
    width: 140px;
    margin-right: 0;
    padding-right: 30px;
    padding-left: 30px;
    
    text-transform: uppercase;
}

.description-item {
    padding-top: 64px;
    padding-bottom: 69px;
    
    background-color: #f4f7f9;
}

.description-item h2 {
    margin: 0;
    margin-bottom: 26px;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.description-item p {
    margin: 0;
    width: 938px;
    
    font-size: 13px;
    line-height: 24px;
}

/*    ----    footer     ----    */


.main-footer {
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
    
    background-color: #32425c;
}

/*    ----    pre-footer     ----    */

.pre-footer {
    padding-bottom: 49px;
    
    font-size: 18px;
    line-height: 24px;
}

.footer-top-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.footer-logo {
    width: 220px;
    height: 68px;
}

.footer-logo {
    padding: 20px 41px 20px 41px;
}

.footer-top-menu,
.footer-down-menu {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.footer-top-menu {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-left: auto;
    margin-top: 38px;
}

.footer-top-menu li {
    padding-right: 60px;
}

.footer-top-menu li:last-child {
    padding-right: 0px;
}

.footer-top-menu a {
    color: #f1f5f7;
}

.footer-top-menu a:hover {
    text-decoration: underline;
}

.footer-top-menu a:focus {
    color: rgba(241, 245, 247, 0.5);
}

.footer-down-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-contacts p {
    margin: 0;
}

.footer-contacts {
    width: 327px;
    padding-left: 3px;
}

.footer-down-menu {
    display: flex;
    justify-content: space-between;
    width: 525px;
    margin-left: auto;
}

.footer-down-menu li {
    padding-right: 60px;
}

.footer-down-menu a {
    color: #ffd180;
}

.footer-down-menu a:hover {
    text-decoration: underline;
}

.footer-down-menu a:focus {
    color: rgba(255, 209, 128, 0.5);
}

/*    ----    footer-primary     ----    */

.footer-primary {
    padding-top: 35px;
    padding-bottom: 30px;
    
    font-size: 16px;
    line-height: 18px;
    
    background-color: #293449;
}

.footer-primary .container {
    display: flex;
    justify-content: space-between;
}

.footer-primary ul {
    list-style: none;
}

.copyright {
    margin: 0;
    width: 230px;
}

.footer-primary-right {
    margin-left: auto;
}

.footer-primary-right p {
    display: inline-block;
    margin: 0;
}

.footer-primary-right p:nth-child(1) {
    width: 135px;
    margin-right: 50px;
}

.footer-primary-right p:nth-child(2) {
    width: 110px;
}

.social-button {
    color: #ffffff;
}

.footer-primary-right a{
    color: #ffd180;
}

.footer-primary-right a:hover {
    text-decoration: underline;
}

.footer-primary-right a:focus {
    color: #ee3643;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 90px;
    
    background-color: #212a3a;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 135px;
  margin: 0 auto;
  margin-left: 160px;
  padding: 0;
    
  list-style: none;
}





/*    ----    Модальное окно     ----    */


.modal-contact {
    position: relative;
    width: 620px;
    margin: 0 auto;
    margin-top: 50px;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    
    width: 620px;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    border-top: 7px solid #ff5257;
}

.modal-contact-top {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 48px 80px 33px 80px;
}

.modal-user-login, 
.modal-user-mail {
    width: 220px;
    margin: 0;
}

.modal-user-login {    
    margin-right: 20px;
}

.modal-user-message {
    margin: 0;
    margin-top: 21px;
}

.modal-contact-down {    
    padding: 37px 80px 37px 80px;
    background-color: #f4f4f4;
}

.contact-form input,
.contact-form textarea {
    margin-top: 9px;
    
    font-family: "PT Sans", Aril, sans-serif;
    font-size: 13px;
    line-height: 18px;
    
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.contact-form input {
    width: 220px;
    padding: 8px 15px 8px 15px;
}

.contact-form textarea {
    width: 460px;
    padding: 8px 15px 12px 15px;
    resize: none;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
    color: #999999;
}

.contact-form input:hover,
.contact-form textarea:hover {   
    border: 2px solid #b5b5b5;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 2px solid #ee3643;
}

.send-button {
    width: 460px;
    padding: 10px 0;
    text-align: center;
    
    border: none;
    border-radius: 3px;
} 

.modal-close {
    position: absolute;    
    
    width: 21px;
    height: 22px;
    
    font-size: 0;
    
    background-color: transparent;
    border: 0;
    
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    
    position: absolute;    
    
    width: 27px;
    height: 4px;
    
    background-color: #ee3643;
    border-radius: 3px;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-contact .modal-close {
    top: 9px;
    right: 10px;
}

.modal-contact .modal-close::before,
.modal-contact .modal-close::after {
    top: 9px;
    right: -3px;
}

.modal-map {
    position: relative;
    margin: 50px auto;
    width: 940px;
    height: 446px;
    
    box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.5);
}

.modal-map p {
    margin: 0;
}

.modal-map .modal-close {
    top: 10px;
    right: 10px;
}

.modal-map .modal-close::before,
.modal-map .modal-close::after {
    top: 9px;
    right: -3px;
}

/*    ----    Catalog     ----    */

.modal-buy {
    position: relative;
    width: 620px;
    margin: 50px auto; 
    
    font-family: "Cuprum", Arial, sans-serif;    
    
    border-top: 7px solid #ff5257;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-buy p {
    margin: 0;
}

.modal-buy-top {
    padding: 66px 0 67px 180px;
    
    font-size: 30px;
    line-height: 30px;
}

.modal-buy-top::before {
    content: "";
    
    position: absolute;
    top: 48px;
    left: 81px;
    
    width: 66px;
    height: 66px;
    
    background-image: url("../img/svg/icon-mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;        
}

.modal-buy .modal-close {
    top: 9px;
    right: 9px;
}

.modal-buy .modal-close::before,
.modal-buy .modal-close::after {
    top: 9px;
    right: -3px;
}

.modal-buy-down {    
    padding-top: 37px;
    padding-bottom: 37px;    
    text-align: center;
    
    font-size: 14px;
    line-height: 18px;    
    text-transform: uppercase;
    
    background-color: #f4f4f4;
}

.modal-buy-down a {
    display: inline-block;
    width: 220px;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.white-button {
    margin-left: 20px;
    background-color: #ffffff;
    color: #000000;
}