*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.content-box-component {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Aril, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
    -webkit-clip-path: inset(100%);
    
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.red-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #ee3643;    
    border-radius: 3px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.main-header {
    font-family: "Cuprum", Arial, sans-serif;
    
    background-color: #f3f7f9;
}

.pre-header {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #293449;
}

.pre-header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-logo {    
    position: relative;
    width: 220px;
    padding: 13px 55px 7px 55px;
}

.logo {    
    background-color: #ee3643;
}

.header-logo::before {
    content: "";
    
    position: absolute;
    bottom: -5px;
    left: 0px;
    
    width: 220px;
    height: 5px;  
    
    background-color: #b52933;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.header-logo:focus {
    background-color: #ba2732;
}

.pre-header form {
    position: relative; 
}

.search-form {   
    width: 270px;
    padding: 12px 16px 12px 49px;
    
    font-size: 17px;
    line-height: 18px;
    
    background-color: transparent;
    border: none;
}

.search-form::-webkit-input-placeholder {
    color: #ffffff;
}

.search-form:-ms-input-placeholder {
    color: #ffffff;
}

.search-form::-ms-input-placeholder {
    color: #ffffff;
}

.search-form::placeholder {
    color: #ffffff;
    
    opacity: 1;
}

.search-form:hover,
.bookmarks-link:hover,
.basket-link:hover {   
    background-color: #212a3a;
}

.search-form:focus {
    background-color: #ffffff;
}

.search-form:focus::-webkit-input-placeholder {
    color: #000000;
}

.search-form:focus:-ms-input-placeholder {
    color: #000000;
}

.search-form:focus::-ms-input-placeholder {
    color: #000000;
}

.search-form:focus::placeholder {
    color: #000000;
}

.search-icon {
    position: absolute;
    
    width: 17px;
    height: 17px;
    
    top: 0;
    bottom: 0;
    left: 17px;
    
    margin-top: auto;
    margin-bottom: auto;    
    
    opacity: 0.3;
}

.search-form:hover + .search-icon,
.search-form:focus + .search-icon {
    opacity: 1;
}

.search-form:focus + .search-icon path {
    fill: #ee3643;
}

.order-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 450px;
}

.order-navigation a {
    width: 150px;
    
    color: #ffffff;
}

.bookmarks-link {
    position: relative;
    padding: 12px;
    padding-left: 44px;
}

.bookmarks-link::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 17px;
    
    width: 14px;
    height: 16px;  
    
    background-image: url("../img/svg/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
    
    opacity: 0.3;
}

.bookmarks-link:hover::before {  
    opacity: 1;
}

.bookmarks-link:focus::before {  
    opacity: 0.5;
}

.basket-link,
.page-basket {
    position: relative;
    padding: 12px;    
    padding-left: 50px;
}

.basket-link::before,
.page-basket::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 18px;
    
    width: 15px;
    height: 15px;  
    
    background-image: url("../img/svg/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
    
    opacity: 0.3;
}

.basket-link:hover::before {  
    opacity: 1;
}

.basket-link:focus::before {  
    opacity: 0.5;
}

.bookmarks-link:focus,
.basket-link:focus {
    color: rgba(255, 255, 255, 0.6);    
    
    background-color: #161d29;
}

.order-link {
    padding: 12px; 
    
    text-align: center;
    
    background-color: #63a63e;
}

.order-link:hover {
    background-color: #5fbb2d;
}

.order-link:focus {
    color: rgba(255, 255, 255, 0.5);
    
    background-color: #518534;
}

.order-active {
    background-color: #ee3643;
}


.header-primary {    
    padding-top: 46px;    
    padding-bottom: 60px;
}

.header-primary-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 29px;
}

.header-primary h1,
.page-headlines {
    width: 197px;
    margin: 2px 71px 10px 52px;
    
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;    
    color: #ee3643;
    text-align: left;        
}

.header-contacts {    
    width: 270px;   
    margin-right: auto;
}

.header-telephone {
    position: relative;
    width: 270px;
    margin: 0;
    padding: 10px 15px 8px 71px;
    
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    text-align: left; 
    
    border: 3px solid #ffffff;
}

.header-telephone::before {
    content: "";
    
    position: absolute;
    top: 10px;
    left: 12px;
    
    width: 19px;
    height: 19px;  
    
    background-image: url("../img/svg/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.header-address {
    margin: 4px 8px 10px 10px;
    
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.main-user-navigation,
.page-user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin: 0;    
    padding: 0;
    
    list-style: none;
}

.login-link,
.register-link {
    display: block;    
    margin-bottom: 10px;        
    
    font-size: 21px;
    line-height: 21px;
    color: #000000;     
    
    background-color: #ffffff;  
}

.login-link { 
    width: 121px;
    margin-right: 10px;
    padding: 12px;
    padding-left: 48px; 
}

.login-link::before {
    content: "";
    
    position: absolute;
    top: 13px;
    left: 14px;
    
    width: 20px;
    height: 17px;  
    
    background-image: url("../img/svg/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
    
    opacity: 0.3;
}

.login-link:hover::before {
    opacity: 1;
}

.login-link:focus::before {
    opacity: 0.3;
}

.register-link {
    width: 150px;
    padding: 12px;
    
    text-align: center;
}

.login-link:hover,
.register-link:hover {
    color: #ee3643;
}

.login-link:focus,
.register-link:focus {
    color: rgba(0, 0, 0, 0.3);
}

.page-user-control {
    display: block;
    position: relative;
    width: 299px;
    margin-bottom: 4px;
    padding: 12px 40px 12px 47px;
    
    font-size: 21px;
    line-height: 21px;    
    
    background-color: #ffffff;
}

.user-name {
    color: #000000;
}

.user-name::before {
    content: "";
    
    position: absolute;
    top: 13px;
    left: 13px;
    
    width: 20px;
    height: 18px;  
    
    background-image: url("../img/svg/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;  
    
    opacity: 0.3;
}

.user-name:hover::before {
    opacity: 1;
}

.user-name:focus::before {
    opacity: 0.3;
}

.user-name:focus {
    color: rgba(0, 0, 0, 0.3);
}

.user-exit {    
    position: absolute;
    top: 14px;
    right: 10px;
    
    width: 20px;
    height: 17px;  
    
    background-color: transparent;
    background-image: url("../img/svg/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
    
    opacity: 0.3;
}

.user-exit:hover {
    opacity: 1;
}

.user-exit:focus {
    opacity: 0.3;
}

.page-user-navigation {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 210px;
    margin: 0 18px 10px 18px;
}

.user-profile {    
    position: relative;
    padding-left: 32px;
}

.user-profile::before {
    content: "";
    
    position: absolute;
    top: 7px;
    left: 15px;
    
    width: 4px;
    height: 4px;
    
    background-color: #32425c;
    border-radius: 50%;
}

.user-orders a,
.user-profile a {
    display: block;    
    
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    
    text-decoration: underline;
}

.user-orders a:hover,
.user-profile a:hover {
    color: #ee3643;
}

.user-orders a:focus,
.user-profile a:focus {
    color: rgba(50, 66, 92, 0.3);
}

.main-navigation {
    font-size: 17px;
    line-height: 17px;
    
    background-color: #32425c;
    -webkit-box-shadow: inset 0px -5px 0 0 #293449;
            box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0; 
    padding-left: 21px;
    padding-right: 21px;
    list-style: none;
}

.site-navigation a {
    display: block;
    padding-top: 19px;
    padding-bottom: 24px;
    padding-right: 31px;
    padding-left: 30px;
    vertical-align: middle;
    
    color: #ffffff;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin: 0;
    padding: 0;
    
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    
    list-style: none; 
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs li {
    position: relative;    
    margin-left: 39px;
    padding: 20px 0 21px 0;
}

.breadcrumbs li:first-child {
    margin-left: 55px;
}

.breadcrumbs li:last-child {
    margin-left: 43px;
}

.breadcrumbs li::before {
    content: "";
    
    position: absolute;
    top: 23px;
    left: -22px;
    
    width: 8px;
    height: 12px;
    
    background-image: url("../img/svg/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs li:first-child::before {
    content: "";
    
    position: absolute;
    top: 23px;
    left: -27px;
    
    width: 8px;
    height: 12px;
    
    background-image: url("../img/svg/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs li:last-child::before {
    content: "";
    
    position: absolute;
    top: 23px;
    left: -24px;
    
    width: 8px;
    height: 12px;
    
    background-image: url("../img/svg/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs::after {
    content: "";
    
    position: absolute;
    top: 23px;
    left: -2px;
    
    width: 15px;
    height: 12px;
    
    background-image: url("../img/svg/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0 0; 
}

.main-page-top {
    margin-bottom: 20px;
    padding: 30px 29px 29px 29px;
    
    background-color: #f2f6f8;
}

.page-title {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: 400;
    text-transform: uppercase;
}

.main-benefits {
    padding-top: 59px;
    padding-bottom: 33px;
    
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
}

.main-benefits-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    padding: 0; 

    list-style: none;
}

.main-benefits h2 {
    color: #32425c;
}

.main-benefits h3 {
    margin: 0;
    margin-bottom: 11px;
    
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;    
}

.benefits {
    width: 300px;
    
    margin-bottom: 20px;
    margin-right: 20px;
    
    padding-top: 22px;    
    padding-bottom: 22px;
}

.main-benefits-slider {
    width: 620px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.main-benefits-stuff {
    position: relative;
    padding-left: 25px;
    padding-right: 140px;
    
    background-color: #ffbf47;
}

.main-benefits-stuff::after {
    content: "";
    
    position: absolute;
    top: 31px;
    right: 43px;
    
    width: 44px;
    height: 65px;  
    
    background-image: url("../img/svg/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.main-benefits .flag {
    position: absolute;
    
    top: 0;
    right: 0;
    
    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.main-benefits .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.main-benefits-tool {
    position: relative;
    padding-left: 25px;
    padding-right: 140px;
    
    background-color: #3bbce3;
}

.main-benefits-tool::after {
    content: "";
    
    position: absolute;
    top: 33px;
    right: 28px;
    
    width: 75px;
    height: 61px;  
    
    background-image: url("../img/svg/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.main-benefits-technics {
    position: relative;
    margin-right: 0;
    padding-left: 23px;
    padding-right: 142px;
    
    background-color: #dc91d8;
}

.main-benefits-technics::after {
    content: "";
    
    position: absolute;
    top: 31px;
    right: 31px;
    
    width: 78px;
    height: 62px;  
    
    background-image: url("../img/svg/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.main-benefits-discount {
    position: relative;
    margin-right: 0;
    padding-left: 23px;
    padding-right: 142px;
    
    background-color: #8ed78f;
}

.main-benefits-discount::after {
    content: "";
    
    position: absolute;
    top: 26px;
    right: 45px;
    
    width: 59px;
    height: 72px;  
    
    background-image: url("../img/svg/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.main-benefits-delivery {
    position: relative;
    margin-right: 0;
    padding-left: 23px;
    padding-right: 142px;
    
    background-color: #ffc047;
}

.main-benefits-delivery::after {
    content: "";
    
    position: absolute;
    top: 32px;
    right: 31px;
    
    width: 78px;
    height: 63px;  
    
    background-image: url("../img/svg/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.button-benefits {
    display: block;
    width: 135px;  
    padding: 11px; 
    padding-bottom: 9px;    
    
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    
    background-color: rgba(0,0,0, 0.1);
    border-radius: 3px;
}

.button-benefits:hover {
    background-color: rgba(0,0,0, 0.2);
}

.button-benefits:focus {
    background-color: rgba(0,0,0, 0.3);
}

.main-benefits-slider {
    position: relative;
    
    background-color: #847365;
}

.slider-benefit-next {
    position: absolute;
    left: 25px;
    top: 113px;
    
    width: 22px;
    height: 40px;
    
    font-size: 0;
    
    background-color: transparent;
    background-image: url("../img/svg/icon-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    border: 0;
    
    cursor: pointer;
}

.slider-benefit-prev {
    position: absolute;
    right: 20px;
    top: 113px;

    width: 22px;
    height: 40px;
    
    font-size: 0;
    
    background-color: transparent;
    background-image: url("../img/svg/icon-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    border: 0;
    
    cursor: pointer;
}

.slider-controls-benefits {
    position: absolute;
    left: 50%;
    top: 220px;
    z-index: 100;
    
    width: 160px;
    height: 10px;
    
    text-align: center;
    font-size: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.slider-controls-benefits label {
    position: relative;
    
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 10px;
    
    vertical-align: top;
    
    border-radius: 50%;
    cursor: pointer; 
}

.slider-controls-benefits label::after {
    content: "";
    
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    
    width: 10px;
    height: 10px;

    background-color: #ffffff;
    
    border-radius: 50%;
}

.slider-list-benefits {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slider-benefit {
    display: none;
    
    padding: 24px;
    padding-bottom: 22px;
}

.slider-benefit:nth-child(1) {
    background-image: url("../img/slider-1.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slider-benefit:nth-child(2) {
    background-image: url("../img/slider-2.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

#benefit-1:checked ~ .slider-list-benefits .slider-benefit:nth-child(1) {
    display: block;
}

#benefit-2:checked ~ .slider-list-benefits .slider-benefit:nth-child(2) {
    display: block;
}

#benefit-1:checked ~ .slider-controls-benefits .slider-controls-benefit--1::before,
#benefit-2:checked ~ .slider-controls-benefits .slider-controls-benefit--2::before {
    content: "";
    
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 2;
    
    width: 6px;
    height: 6px;
  
    background-color: #ee3643;
    
    border-radius: 50%;
}

.main-benefits-slider h3 {
    margin: 0;    
    
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-benefits-slider b {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.slider-button {
    display: block;
    width: 195px;
    margin: 121px 0 0 1px;
    padding: 11px;
    padding-bottom: 9px;
    
    text-align: center;
}

.slider-button:hover {
    background-color: #ca2c37;
}

.slider-button:focus {
    background-color: #ba2732;
}

.main-page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.filters {
    width: 220px;
}

.filters-top {
    margin-bottom: 11px;
    padding: 9px 19px 11px 19px; 
    
    background-color: #f7f3ec;
    border-radius: 3px;
}

.filters-top h2 {
    margin: 0;
    
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    
    border: none; 
    border-bottom: 1px solid #e5e5e5;
}

.filters .filter-price {
    padding-bottom: 25px;
    margin-bottom: 16px;
}
.filters .filter-brand {
    padding-bottom: 3px;
    margin-bottom: 17px;
}

.filters .filter-power {
    margin-bottom: 59px;
}

.filter fieldset:last-of-type {
    border-bottom: none;
}

.filter legend {
    margin-bottom: 13px;
    
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.range-controls {
    position: relative;
    
    height: 80px;
    margin-bottom: 9px;   
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f7f3ec;
    
    border-radius: 0 0 3px 3px;
}

.range-controls .scale {
    height: 2px;
    
    background-color: #d7dcde;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    
    background-color: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    
    width: 20px;
    height: 20px;
    padding: 0;
    
    border: 8px solid #ffffff;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    position: relative;
    font-size: 0;
}

.price-controls::before {
    content: "";
    
    position: absolute;
    top: 19px;
    left: 105px;
    
    width: 10px;
    height: 1px;
    
    background-color: #444444;
}

.price-controls input {
    width: 95px;
    padding: 10px;  
    
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    
    border: none;
    border-radius: 3px;
    background-color: #f7f3ec;
}

.max-price {
    margin-left: 30px;  
}

.filter ul {
    padding: 0;
    margin: 0;
    
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    
    list-style: none;
}

.filter-brand .filter-option {
    margin-bottom: 17px;
}

.filter-power .filter-option {
    margin-bottom: 16px;
}

.filter-power legend {
    margin-bottom: 10px;
}

.filter-option label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-align: center;
    
        -ms-flex-align: center;
    
            align-items: center;
    
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.checkbox {
    width: 27px;
    height: 23px;
    margin-right: 8px;
}

.checkbox-on {
    display: none;
}

.filter-input-checkbox:checked + label .checkbox-on {
    display: block;
}

.filter-input-checkbox:checked + label .checkbox-off {
    display: none;
}

.filter-input-checkbox:disabled + label,
.filter-input-checkbox:disabled + label .checkbox-on,
.filter-input-checkbox:disabled + label .checkbox-off {
    fill: #b5b5b5; 
    
    opacity: 0.4;
}

.filter-input-checkbox:hover ~ label .checkbox path {
   fill: #b5b5b5; 
}

.filter-input-checkbox:focus ~ label .checkbox path {
    fill: #b5b5b5; 
}

.radio {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.radio-on {
    display: none;
}

.filter-input-radio:checked + label .radio-on {
    display: block;
}

.filter-input-radio:checked + label .radio-off {
    display: none;
}

.filter-input-radio:disabled + label,
.filter-input-radio:disabled + label .radio-on,
.filter-input-radio:disabled + label .radio-off {
    fill: #b5b5b5; 
    
    opacity: 0.4;
}

.filter-input-radio:hover ~ label .radio path,
.filter-input-radio:hover ~ label .radio circle {
    fill: #b5b5b5;
}

.filter-input-radio:focus ~ label .radio path,
.filter-input-radio:focus ~ label .radio circle {
    fill: #b5b5b5;
}

.filter-button {
    width: 140px;
    padding: 10px;    
    
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    
    cursor: pointer;
}

.main-page-right {
    width: 700px;
    padding-bottom: 60px;
}

.sorting-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 19px;
    padding: 9px 17px 11px 19px;    
    
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    
    background-color: #f7f3ec;
    border-radius: 3px;
}

.sorting-options h2 {
    width: 221px;
    margin: 0;
    
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}

.sorting-options-left {
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 355px;
    margin: 0;
    margin-right: auto;
    padding: 0;    
    
    list-style: none;
}

.sorting-options-right {
    position: relative;
    width: 43px;
    margin: 0;
    padding: 0;    
    
    list-style: none;
}

.sorting-options-right li {
    display: inline-block;
    
    vertical-align: top;
}

.sorting-options-right li:first-child {
    margin-right: 20px;
}

.sorting-options-left a {
    color: rgba(0, 0, 0, 0.18);
    border-bottom: 1px dotted #ee3643;
}

.sorting-options-left a:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sorting-options-left a:focus,
.sorting-left-current a,
.sorting-left-current a:hover {
    color: #ee3643;
    border: none;
}

.sort-increase {
    position: absolute;
    top: -2px; 
    left: 0; 
    
    width: 11px;
    height: 10px;
    
    border: 6px solid transparent; 
    border-bottom: 11px solid #000000;
    
    opacity: 0.2;
}

.sort-decrease {
    position: absolute;
    top: 4px; 
    right: 0; 
    
    width: 11px;
    height: 10px;
    
    border: 6px solid transparent; 
    border-top: 11px solid #000000;
    
    opacity: 0.2;    
}

.sorting-options-right a:hover {
    opacity: 1;
}

.sort-increase:focus,
.sort-increase-current {
    border-bottom-color: #ee3643;
    opacity: 1;
}

.sort-decrease:focus {
    border-top-color: #ee3643;
    opacity: 1;
}

.popular-item {
    padding-bottom: 1px;    
}

.popular-item h2 {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.popular-item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    padding: 25px 24px 26px 29px;
    
    background-color: #f9f5f0;
}

.popular-item-top .red-button {
    display: block;
    width: 253px;
    margin-left: auto;    
    padding: 11px;
    padding-bottom: 9px;
    
    text-align: center;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;  
    
    list-style: none;
    
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;   
}

.catalog-item-image {
    width: 216px;
    height: 170px;
    margin-bottom: 9px; 
}

.catalog-item-title {
    margin: 0;
    padding: 0 25px;    
    margin-bottom: 10px;
    
    font-size: 18px;
    line-height: 20px;    
    color: #000000;
}

.item-old-price {
    margin: 0;
    min-height: 20px;
    margin-bottom: 9px;
    padding: 0 25px;
    
    color: #a9a9a9;
    font-weight: 700;
    text-decoration: line-through;
}

.item-new-price { 
    position: relative;
    width: 141px;
    margin: 0 36px 0 43px;
    padding: 10px;
    
    text-align: center;
    
    color: #ffffff;
    font-weight: 700;
    
    background: #ee3643;
    border-radius: 3px;      
}

.item-new-price::after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -18px;
    
    width: 0;
    height: 0;
    
    border: 19px solid white;
    border-left-color: #ee3643;
}

.catalog-item {
    position: relative;
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 1px;
    padding-bottom: 19px;
    
    border: 1px solid #e5e5e5;
}

.page-catalog .catalog-item:nth-child(3n) {
    margin-right: 0;
}
.main-catalog .catalog-item:nth-child(4n) {
    margin-right: 0;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    
    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 158px;
    padding: 43px 42px 37px 41px;
    
    background-color: #ffffff;
    z-index: 10; 
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.catalog-item:hover {
    border: none;
    -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
            box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:focus-within .actions {
    display: block;
}

.buy-button {
    position: relative;
    display: block;
    width: 135px;
    margin-bottom: 8px;
    padding: 10px 0 10px 5px;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #63a63e;
    border: none;
    -webkit-box-shadow: inset 0px -3px 0 0 #367315;
            box-shadow: inset 0px -3px 0 0 #367315;
    border-radius: 3px;
}

.buy-button::before {
    content: "";
    
    position: absolute;
    top: 11px;
    left: 14px;
    
    width: 15px;
    height: 15px;
    
    background-image: url("../img/svg/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0 ;
    
    opacity: 0.3;
}

.buy-button:hover::before,
.buy-button:focus::before {
    opacity: 1;
}

.buy-button:hover {
    background-color: #5fbb2d;
}

.buy-button:focus {
    background-color: #518534;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.marker-button {
    display: block;
    width: 135px;
    padding: 7px 0 7px 6px;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #32425c;
    text-transform: uppercase;
    
    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius:3px;
}

.marker-button:hover {
    border: 3px solid #32425c;
}

.marker-button:focus {
    color: rgba(50, 66, 92, 0.3);
    border: 3px solid rgba(50, 66, 92, 0.3);
}

.popular-brand {
    padding-bottom: 65px;    
}

.popular-brand h2 {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.popular-brand-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    padding: 25px 24px 26px 29px;
    
    background-color: #f9f5f0;
}

.popular-brand-top h2 {  
    margin: 0;
}

.popular-brand-top .red-button {
    display: block;
    width: 253px;
    margin-left: auto;    
    padding: 11px;
    padding-bottom: 9px;
    
    text-align: center;
}

.brand-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.brand-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 220px;
    height: 145px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    text-align: center;
    
    border: 1px solid #e5e5e5;    
}

.brand-list__element:nth-child(4n) a {
    margin-right: 0;
}

.brand-list a:hover {
    border: none;
    -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
            box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-list a:focus {
    border: none;
    -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
            box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    
    opacity: 0.3;
}

.main-services {      
    padding-top: 63px;
    padding-bottom: 99px;
    
    background-color: #f4f7f9;    
}

.main-services .container {
    position: relative;
    
    padding-right: 230px;
}

.slider-service--1::after {
    content: "";
    
    position: absolute;
    bottom: -99px;
    right: 0;
    
    width: 468px;
    height: 261px;
    
    background-image: url("../img/service-delivery.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slider-service--2::after {
    content: "";
    
    position: absolute;
    bottom: -99px;
    right: -10px;
    
    width: 389px;
    height: 283px;
    
    background-image: url("../img/service-guarantee.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slider-service--3::after {
    content: "";
    
    position: absolute;
    bottom: -99px;
    right: -10px;
    
    width: 465px;
    height: 285px;
    
    background-image: url("../img/service-credit.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-services-top {
    width: 400px;
}

.main-services-top h2 {
    margin: 0;
    margin-bottom: 26px;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-services p {
    margin: 0;    
}

.main-services-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.slider-list-services {
    margin: 0;
    padding: 0;
    
    list-style: none;
}


.main-services h3 {
    margin: 0;
    margin-top: 67px;
    margin-bottom: 25px;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.services-navigation {
    position: relative;
    
    width: 240px;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    margin-right: 81px;
    
    font-family: "Cuprum", Arial, sans-serif;    
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;        
    
    list-style: none;    
}

.services-navigation::after {
    content: "";
    
    position: absolute;
    top: -40px;
    right: -1px;
    
    width: 10px;
    height: 279px;
    
    background-image: url("../img/service-shadow.png");
    background-repeat: no-repeat;
    background-position: 0 0; 
}

.main-services-right {
    width: 379px;
    
    margin-right: auto;
}

.slider-service--1 {
    width: 275px;
}

.slider-service--3 {
    width: 280px;
}

.slider-controls-services label {
    padding: 13px 23px 19px 23px;    
    
    color: #ffffff;   
    
    background-color: #32425c;    
    -webkit-box-shadow: 0px -1px 0 0 #293449, inset 0px 1px 0 0 #405069;    
            box-shadow: 0px -1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    
    display: inline-block;
    width: 240px;
    
    vertical-align: top;
    
    cursor: pointer;  
}

.slider-controls-services label:hover {
    background-color: #293449;
    -webkit-box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
            box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.slider-service {
     display: none;
}

#service-1:checked ~ .slider-list-services .slider-service--1 {
    display: block;
}

#service-2:checked ~ .slider-list-services .slider-service--2 {
    display: block;
}

#service-3:checked ~ .slider-list-services .slider-service--3 {
    display: block;
}

#service-1:checked ~ .slider-controls-services .slider-controls-service--1,
#service-2:checked ~ .slider-controls-services .slider-controls-service--2,
#service-3:checked ~ .slider-controls-services .slider-controls-service--3 {
    color: #32425c;
    
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
            box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.slider-item-button {
    display: block;
    width: 195px;
    margin-top: 29px;
    padding: 10px 40px;
    
    text-align: center;   
}

.main-down-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 85px;
}

.main-down-wrapper p {
    margin: 0;
    margin-top: 24px;
}

.extra-benefits {
    width: 519px;
}

.extra-benefits h2 {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.extra-benefits .red-button {
    display: block;
    width: 220px;
    margin-top: 35px;    
    padding: 10px;
    
    text-align: center;
}

.extra-benefits p:nth-child(2n+1){
    width: 390px;
}

.delivery-option {
    margin: 0;
    margin-top: 22px;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    
    list-style: none;
} 

.delivery-option li {
    position: relative;
    margin-bottom: 21px;    
}

.delivery-option li:before {
    content: ""; 
    
    position: absolute;
    top: 8px;
    left: -40px;
    
    width: 25px;
    height: 2px;
    
    background-color: #ee3643;
}

.main-contacts {
    width: 300px;
    margin-left: auto;
}

.main-contacts h2 {
    margin: 0;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-contacts p {
    width: 180px;
    margin-bottom: 31px;
}

.map-address {
    margin: 0;
    margin-bottom: 40px;
}

.map-address a {
    display: block;
    width: 300px;
    height: 158px;
}

.contact-button {
    display: block;
    width: 300px;
    padding: 10px;
    padding-left: 58px;
    
    text-align: left;
    
    border: none;
    
    cursor: pointer;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;    
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.pagination-item {
    margin-right: 10px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    display: block;
    width: 38px;
    padding: 9px;        
    
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination-item:last-child a {
    width: 140px;
}

.pagination-item a:hover {
    border-color: #bdc6ca;
}

.pagination-item a:focus {
    border-color: #ee3643;
}

.pagination-item-current a {
    color: #ffffff;
    background-color: #ee3643;
    border: none;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
    border: none;
}

.description-item {
    padding-top: 64px;
    padding-bottom: 69px;
    
    background-color: #f4f7f9;
}

.description-item h2 {
    margin: 0;
    margin-bottom: 26px;
    
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.description-item p {
    margin: 0;
    width: 938px;
    
    font-size: 13px;
    line-height: 24px;
}

.main-footer {
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
    
    background-color: #32425c;
}

.pre-footer {
    padding-bottom: 49px;
    
    font-size: 18px;
    line-height: 24px;
}

.footer-top-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 28px;
}

.footer-logo {
    width: 220px;
    height: 68px;
}

.footer-logo {
    padding: 20px 41px 20px 41px;
}

.footer-top-menu,
.footer-down-menu {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.footer-top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 550px;
    margin-left: auto;
    margin-top: 38px;
}

.footer-top-menu li {
    padding-right: 60px;
}

.footer-top-menu li:last-child {
    padding-right: 0px;
}

.footer-top-menu a {
    color: #f1f5f7;
}

.footer-top-menu a:hover {
    border-bottom: 1px solid #f1f5f7;
}

.footer-top-menu a:focus {
    color: rgba(241, 245, 247, 0.5);
    border: none;
}

.footer-down-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-contacts p {
    margin: 0;
}

.footer-contacts {
    width: 327px;
    padding-left: 3px;
}

.footer-down-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 525px;
    margin-left: auto;
}

.footer-down-menu li {
    padding-right: 60px;
}

.footer-down-menu a {
    color: #ffd180;
}

.footer-down-menu a:hover {
    border-bottom: 1px solid #ffd180;
}

.footer-down-menu a:focus {
    color: rgba(255, 209, 128, 0.5);
    border: none;
}

.footer-primary {
    padding-top: 35px;
    padding-bottom: 28px;
    
    font-size: 16px;
    line-height: 18px;
    
    background-color: #293449;
}

.footer-primary .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-primary ul {
    list-style: none;
}

.copyright {
    margin: 0;
    width: 230px;
}

.footer-primary-right {
    margin-left: auto;
}

.footer-primary-right p {
    display: inline-block;
    margin: 0;    
    
    vertical-align: top;
}

.footer-primary-right p:nth-child(1) {
    width: 135px;
    margin-right: 50px;
}

.footer-primary-right p:nth-child(2) {
    width: 110px;
}

.social-button {
    color: #ffffff;
}

.footer-primary-right a{
    color: #ffd180;
}

.footer-primary-right a:hover {
    border-bottom: 1px solid #ffd180;
}

.footer-primary-right a:focus {
    color: #ee3643;
    border: none;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 90px;
    
    background-color: #212a3a;
}

.social-button:hover,
.social-button:focus {
    background-color: #ee3643;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 135px;
    margin: 0 auto;
    margin-left: 160px;
    padding: 0;

    list-style: none;
}

.modal-contact {
    display: none;
    
    position: fixed;
    z-index: 150;
    left: 0;
    right: 0;
    top: 0;  
    bottom: 0;
    
    width: 620px;
    height: 430px;
    margin: auto;
    
    background-color: #ffffff;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    
    -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    
            box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    border-top: 7px solid #ff5257;
}

.modal-contact-top {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 47px 80px 33px 80px;
}

.modal-user-login, 
.modal-user-mail {
    width: 220px;
    margin: 0;
}

.modal-user-login {    
    margin-right: 20px;
}

.modal-user-message {
    margin: 0;
    margin-top: 21px;
}

.modal-contact-down {    
    padding: 37px 80px 37px 80px;
    background-color: #f4f4f4;
}

.contact-form input,
.contact-form textarea {
    margin-top: 9px;
    
    font-family: "PT Sans", Aril, sans-serif;
    font-size: 13px;
    line-height: 18px;
    
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.contact-form input {
    width: 220px;
    padding: 8px 15px 8px 15px;
}

.contact-form textarea {
    width: 460px;
    padding: 8px 15px 12px 15px;
    resize: none;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
    color: #999999;
}

.contact-form input:hover,
.contact-form textarea:hover {   
    border: 2px solid #b5b5b5;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 2px solid #ee3643;
}

.send-button {
    width: 460px;
    padding: 10px;
    
    text-align: center;
    
    border: none;
} 

.modal-close {
    position: absolute;    
    
    width: 21px;
    height: 22px;
    
    font-size: 0;
    
    background-color: transparent;
    border: 0;
    
    cursor: pointer;
    
    z-index: 3;
}

.modal-close::before,
.modal-close::after {
    content: "";
    
    position: absolute;    
    
    width: 27px;
    height: 4px;
    
    background-color: #ee3643;
    border-radius: 3px;
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-contact .modal-close {
    top: 9px;
    right: 10px;
}

.modal-contact .modal-close::before,
.modal-contact .modal-close::after {
    top: 9px;
    right: -3px;
}

.modal-map {
    display: none;
    
    position: fixed;
    z-index: 120;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    width: 940px;
    height: 446px;
    margin: auto;
    
    -webkit-box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.5);
    
            box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.5);
}

.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    margin: 0;
}

.modal-map iframe {
    position: relative;
    z-index: 2;

    border: none;
}

.modal-map .modal-close {
    top: 10px;
    right: 10px;
}

.modal-map .modal-close::before,
.modal-map .modal-close::after {
    top: 9px;
    right: -3px;
}

.modal-buy {
    display: none;
    
    position: fixed;
    z-index: 120;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
    
    width: 620px;
    height: 282px;
    margin: auto; 
    
    font-family: "Cuprum", Arial, sans-serif;    
    
    background-color: #ffffff;
    border-top: 7px solid #ff5257;
    -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
            box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-buy p {
    margin: 0;
}

.modal-buy-top {
    padding: 66px 30px 67px 180px;
    
    font-size: 30px;
    line-height: 30px;
}

.modal-buy-top::before {
    content: "";
    
    position: absolute;
    top: 48px;
    left: 81px;
    
    width: 66px;
    height: 66px;
    
    background-image: url("../img/svg/icon-mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;        
}

.modal-buy .modal-close {
    top: 9px;
    right: 9px;
}

.modal-buy .modal-close::before,
.modal-buy .modal-close::after {
    top: 9px;
    right: -3px;
}

.modal-buy-down {    
    padding: 37px;       
    
    font-size: 14px;
    line-height: 18px;    
    text-transform: uppercase;
    text-align: center;
    
    background-color: #f4f4f4;
}

.modal-buy-down a {
    display: inline-block;
    width: 220px;    
    padding: 10px;
    
    text-align: center;
    vertical-align: top;   
}

.white-button {
    margin-left: 20px;
    background-color: #ffffff;
    color: #000000;
}

.modal-show {
    display: block;
    
    -webkit-animation: bounce 0.6s;
    
            animation: bounce 0.6s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }

    70% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}